    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: black;
    box-sizing: border-box;
    height: 100vh;
}
.banner{
    background-image: url(assets/images/banner.png), linear-gradient(rgba(0, 0, 0, 0.123),#31a9dd33,rgba(0, 0, 0, 0.116));
    background-position: bottom;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #33A8DB;
    
}
.banner-content{
    margin-top: 85px;
    margin-bottom: 75px;
    row-gap: 16px;
}
.banner-content h1{
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.banner-content p{
    width: 510px;
    color: #FFF;
    text-align: center ;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    word-break: normal;
    margin-top: 16px;
}
.banner-content button{
    color: #31A8DD;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    margin-top: 34px;
    padding: 20px 60px;
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px #3BA1CD;
}
.logo img{
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.20);
    border-radius: 100%;
}
#course-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-bottom: 1px solid #33A8DB;
}
#course-content h2{
    margin-top: 118px;
    color: #33A8DB;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}
#course-content p{
    width: 792px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.modules-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 90px;
}
.module{
    color: white;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px 127px;
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background-color: #252525;
}
.module span{
    color: #33A8DB;
}
#transform-world{
    display: flex;
    height: 363px;
    background-image: url(assets/images/woman-code.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-bottom: 1px solid #33A8DB;

}
#transform-world p{
    text-align: start;
    width: 244px;
    height: 150px;
    color: #FFF;
    text-shadow: 3px 2px 0px #33A8DB;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    text-transform: lowercase;
    font-weight: 900;
    margin-left: 10%;
    margin-top: 7%;
}
#professional-challenges{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 76px;
    border-bottom: 1px solid #33A8DB;
}
#professional-challenges h2{
    width: 746px;
    color: #33A8DB;
    text-align: center;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.08px;
}
#professional-challenges p{
    width: 792px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 91px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 38px;
    background-image: linear-gradient(black, #33a9db17);
}
footer img{
    margin-top: 59px;
    
}
footer p{
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer a{
    color: #33A8DB;
    text-decoration: none;
}